services:
  postgres:
    image: postgres:15
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: unbound_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  auth-service:
    build:
      context: .
      dockerfile: ./services/auth-service/Dockerfile
    container_name: auth-service
    ports:
      - "8081:8081"
    env_file: ./services/auth-service/.env
    depends_on:
      - postgres
      - redpanda
    environment:
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASS=postgres
      - DB_NAME=unbound_auth

  user-service:
    build:
      context: .
      dockerfile: ./services/user-service/Dockerfile
    container_name: user-service
    ports:
      - "8082:8082"
    env_file: ./services/user-service/.env
    depends_on:
      - auth-service
      - postgres
      - redpanda
    environment:
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASS=postgres
      - DB_NAME=unbound_user
      - KAFKA_BROKER=redpanda:9092

  notification-service:
    build:
      context: .
      dockerfile: ./services/notification-service/Dockerfile
    container_name: notification-service
    ports:
      - "8084:8084"
    env_file: ./services/notification-service/.env
    depends_on:
      - auth-service
      - redpanda
      - postgres
    environment:
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASS=postgres
      - DB_NAME=unbound_notification
      - KAFKA_BROKER=redpanda:9092

  chat-service:
    build:
      context: .
      dockerfile: ./services/chat-service/Dockerfile
    container_name: chat-service
    restart: unless-stopped
    ports:
      - "8083:8083"
    env_file: ./services/chat-service/.env
    depends_on:
      - auth-service
      - user-service
      - postgres
      - redpanda
    environment:
      - PORT=8083

      # DATABASE
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASS=postgres
      - DB_NAME=unbound_chat

      # KAFKA
      - KAFKA_BROKER=redpanda:9092
      - KAFKA_TOPIC=chat-events

      # GRPC
      - AUTH_GRPC_ADDR=auth-service:50051
      - USER_GRPC_ADDR=user-service:50052


  redpanda:
    image: docker.redpanda.com/redpandadata/redpanda:v24.2.4
    container_name: redpanda
    restart: unless-stopped
    ports:
      - "9092:9092"
      - "9644:9644"
    command:
      - redpanda start
      - --overprovisioned
      - --smp 1
      - --memory 1G
      - --reserve-memory 0M
      - --node-id 0
      - --check=false
      - --kafka-addr 0.0.0.0:9092
      - --advertise-kafka-addr redpanda:9092

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    restart: unless-stopped
    ports:
      - "8088:8080"
    environment:
      - KAFKA_CLUSTERS_0_NAME=unbound-cluster
      - KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=redpanda:9092
    depends_on:
      - redpanda

volumes:
  postgres_data:
